{% extends 'Base.html' %}

<!-- title of the page -->
{% block TITLE %}
Login Form
{% endblock %}

{% block CONTENT %}
    <!-- added d-flex align-items-center justify-content-center to center the form vertically and horizontally -->
    <div class="d-flex align-items-center justify-content-center" style="height: 80vh; width: 100vw;">
        <form method="post" action="{{ url_for('login') }}">
        <!-- adding hidden_tag() to prevent CSRF attacks -->
        {{ form.hidden_tag() }}
            <fieldset>

                <legend>Login</legend>

                {#EMAIL#}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>

                {#PASSWORD#}
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>

                <div class="row">
                    {#SUBMIT BUTTON#}
                    <div class="col">
                        {{ form.submit(class="btn btn-primary", style="margin-top: 15px;") }}
                    </div>
                    {#REDIRECT TO REGISTER FORM#}
                    <div class="col">
                        <a href="/Register" class="btn btn-outline-secondary" style="margin-top: 15px; width: 200px"> No account yet? <br> Then register here</a>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
{% endblock %}