{% extends 'Base.html' %}

{% block TITLE %}
Registration Form
{% endblock %}

{% block CONTENT %}
    <div class="d-flex align-items-center justify-content-center" style="height: 80vh; width: 100vw;">
    <!-- added d-flex align-items-center justify-content-center to center the form vertically and horizontally -->
        <form method="post" action="{{url_for('register')}}">
        <!-- adding hidden_tag() to prevent CSRF attacks -->
        {{ form.hidden_tag() }}
            <fieldset>

                <legend>Register</legend>

                {#USERNAME#}
                <div class="form-group">
                    {{ form.username.label }}
                    {{ form.username(class="form-control") }}
                </div>

                {#EMAIL#}
                <div class="form-group">
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                </div>

                {#PASSWORD#}
                <div class="form-group">
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                </div>

                <div class="row">
                    <div class="col">
                        {{ form.submit(class="btn btn-primary", style="margin-top: 15px;") }}
                    </div>
                    <div class="col">
                        <a href="{{ url_for('login') }}" class="btn btn-outline-secondary" style="margin-top: 15px; width: 200px"> Login</a>
                    </div>
                </div>
                
            </fieldset>
        </form>
    </div>
{% endblock %}