{% extends 'Base.html' %}

<!-- title of the page -->
{% block TITLE %}
Sprint View
{% endblock %}

<!-- this displays the sprint-nav-bar -->
{% block HEADER %}
<div class="d-flex justify-content-center">
    <div style="margin-bottom: 35px;">
        <ul class="nav nav-tabs" role="tablist">
            <!-- for loop to display the sprint numbers -->
            <!-- in future versions this will be dynamic based on the number of sprints -->
            {% for sprint_number in range(1, 7) %}
            <li class="nav-item" role="presentation">
                <a class="nav-link {% if selected_sprint == sprint_number %}active{% endif %}"
                    href="{{ url_for('sprint_planning', selected_sprint=sprint_number) }}" role="tab">
                    Sprint {{ sprint_number }}
                </a>
            </li>
            {% endfor %}
            <!-- here will be a button to add a new sprint -->
        </ul>
    </div>
</div>
{% endblock %}

<!-- this is the code displaying the accordion for the tickets -->
{% block CONTENT %}
<div class="row">
    <!-- this is the accordion for the to-do tickets -->
    <div class="col" style="margin-left: 10px;">
        <h3 style="text-align: center;">To-Do</h3>
        <div class="accordion" id="toDoAccordion">
            <!-- for loop to display the tickets in the to-do section -->
            {% for ticket in to_do %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="toDoHeading{{ ticket.ticket_id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#toDoCollapse{{ ticket.ticket_id }}" aria-expanded="false"
                        aria-controls="toDoCollapse{{ ticket.ticket_id }}">
                        ID#{{ticket.ticket_id }} - {{ ticket.ticket_name }}
                    </button>
                </h2>
                <div id="toDoCollapse{{ ticket.ticket_id }}" class="accordion-collapse collapse"
                    aria-labelledby="toDoHeading{{ ticket.ticket_id }}" data-bs-parent="#toDoAccordion">
                    <!-- this is the body of the accordion displaying all the tickets attributes -->
                    <div class="accordion-body">
                        <strong>Description:</strong> {{ ticket.description }}
                        <br>
                        <strong>Sprint Number:</strong> {{ ticket.sprint_number }}
                        <br>
                        <strong>Notes:</strong> {{ ticket.notes }}
                        <br>
                        <strong>Workload:</strong> {{ ticket.workload }}
                        <br>
                        <strong>Status:</strong> {{ ticket.ticket_status }}
                        <br>
                        <strong>Assigned:</strong>
                        <!-- if the ticket is not assigned, display "None" -->
                        {% if ticket.assigned is not none %}
                        {{ ticket.assigned }}
                        {% else %}
                        None
                        {% endif %}
                        <br>
                        <!-- button to edit the ticket -->
                        <a href="{{ url_for('ticket', ticket_id=ticket.ticket_id) }}" class="btn btn-outline-primary"
                            style="margin-top: 10px;">Edit ticket</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- this is the accordion for the in-progress tickets; the logic is the same as the to-do column -->
    <div class="col" style="margin-left: 10px;">
        <h3 style="text-align: center;">In Progress</h3>
        <div class="accordion" id="inProgressAccordion">
            {% for ticket in in_progress %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="inProgressHeading{{ ticket.ticket_id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#inProgressCollapse{{ ticket.ticket_id }}" aria-expanded="false"
                        aria-controls="inProgressCollapse{{ ticket.ticket_id }}">
                        ID#{{ticket.ticket_id }} - {{ ticket.ticket_name }}
                    </button>
                </h2>
                <div id="inProgressCollapse{{ ticket.ticket_id }}" class="accordion-collapse collapse"
                    aria-labelledby="inProgressHeading{{ ticket.ticket_id }}" data-bs-parent="#inProgressAccordion">
                    <div class="accordion-body">
                        <strong>Description:</strong> {{ ticket.description }}
                        <br>
                        <strong>Sprint Number:</strong> {{ ticket.sprint_number }}
                        <br>
                        <strong>Notes:</strong> {{ ticket.notes }}
                        <br>
                        <strong>Workload:</strong> {{ ticket.workload }}
                        <br>
                        <strong>Status:</strong> {{ ticket.ticket_status }}
                        <br>
                        <strong>Assigned:</strong>
                        {% if ticket.assigned is not none %}
                        {{ ticket.assigned }}
                        {% else %}
                        None
                        {% endif %}
                        <br>
                        <a href="{{ url_for('ticket', ticket_id=ticket.ticket_id) }}" class="btn btn-outline-primary"
                            style="margin-top: 10px;">Edit ticket</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- this is the accordion for the testing tickets; the logic is the same as the to-do column -->
    <div class="col" style="margin-left: 10px;">
        <h3 style="text-align: center;">Testing</h3>
        <div class="accordion" id="testingAccordion">
            {% for ticket in testing %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="testingHeading{{ ticket.ticket_id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#testingCollapse{{ ticket.ticket_id }}" aria-expanded="false"
                        aria-controls="testingCollapse{{ ticket.ticket_id }}">
                        ID#{{ ticket.ticket_id }} - {{ ticket.ticket_name }}
                    </button>
                </h2>
                <div id="testingCollapse{{ ticket.ticket_id }}" class="accordion-collapse collapse"
                    aria-labelledby="testingHeading{{ ticket.ticket_id }}" data-bs-parent="#testingAccordion">
                    <div class="accordion-body">
                        <strong>Description:</strong> {{ ticket.description }}
                        <br>
                        <strong>Sprint Number:</strong> {{ ticket.sprint_number }}
                        <br>
                        <strong>Notes:</strong> {{ ticket.notes }}
                        <br>
                        <strong>Workload:</strong> {{ ticket.workload }}
                        <br>
                        <strong>Status:</strong> {{ ticket.ticket_status }}
                        <br>
                        <strong>Assigned:</strong>
                        {% if ticket.assigned is not none %}
                        {{ ticket.assigned }}
                        {% else %}
                        None
                        {% endif %}
                        <br>
                        <a href="{{ url_for('ticket', ticket_id=ticket.ticket_id) }}" class="btn btn-outline-primary"
                            style="margin-top: 10px;">Edit ticket</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <!-- this is the accordion for the finished/obsolete tickets; -->
    <div class="col" style="margin-right: 10px;">
        <h3 style="text-align: center;">Finished/Obsolete</h3>
        <div class="accordion" id="finishedObsoleteAccordion">
            <!-- for loop to display the tickets in the finished/obsolete section -->
            {% for ticket in finished_obsolete %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="finishedObsoleteHeading{{ ticket.ticket_id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#finishedObsoleteCollapse{{ ticket.ticket_id }}" aria-expanded="false"
                        aria-controls="finishedObsoleteCollapse{{ ticket.ticket_id }}">
                        <!-- in this column the ticket can have two types of status; finished (green) or obsolete (yellow) -->
                        {% if ticket.ticket_status == 'Finished' %}
                        <span class="badge bg-success me-1">Finished</span>
                        {% elif ticket.ticket_status == 'Obsolete' %}
                        <span class="badge bg-warning me-1">Obsolete</span>
                        {% endif %}
                        ID#{{ticket.ticket_id }} - {{ ticket.ticket_name }}
                    </button>
                </h2>
                <div id="finishedObsoleteCollapse{{ ticket.ticket_id }}" class="accordion-collapse collapse"
                    aria-labelledby="finishedObsoleteHeading{{ ticket.ticket_id }}"
                    data-bs-parent="#finishedObsoleteAccordion">
                    <!-- this is the body of the accordion displaying all the tickets attributes -->
                    <div class="accordion-body">
                        <strong>Description:</strong> {{ ticket.description }}
                        <br>
                        <strong>Sprint Number:</strong> {{ ticket.sprint_number }}
                        <br>
                        <strong>Notes:</strong> {{ ticket.notes }}
                        <br>
                        <strong>Workload:</strong> {{ ticket.workload }}
                        <br>
                        <strong>Status:</strong> {{ ticket.ticket_status }}
                        <br>
                        <strong>Assigned:</strong>
                        <!-- if the ticket is not assigned, display "None" -->
                        {% if ticket.assigned is not none %}
                        {{ ticket.assigned }}
                        {% else %}
                        None
                        {% endif %}
                        <br>
                        <a href="{{ url_for('ticket', ticket_id=ticket.ticket_id) }}" class="btn btn-outline-primary"
                            style="margin-top: 10px;">Edit ticket</a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock %}