{% extends 'Base.html' %}

{% block TITLE %}
Ticket #{{ ticket.ticket_id }}
{% endblock %}

{% block CONTENT %}

<div class="container" style="margin: 30px;">
    <form method="POST" action="{{ url_for('ticket', ticket_id=ticket.ticket_id) }}">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Ticket-Editor</legend>

            {# Ticket_ID #}
            <div class="form-group row">
                <label for="staticTicketID" class="col-sm-2 col-form-label">Ticket-ID</label>
                <div class="col-sm-10">
                    <input type="text" readonly="" class="form-control-plaintext" id="staticTicketID"
                        value="{{ ticket.ticket_id }}">
                </div>
            </div>

            {# TITLE #}
            <div class="form-group">
                <label for="InputTitle" class="form-label mt-4">Title</label>
                {{ form.ticket_name(class="form-control", id="InputTitle", placeholder="Enter the ticket's title here")}}
                <small id="titleHelp" class="form-text text-muted">This title will be displayed in the
                    Product-Backlog/Sprint-Planning page</small>
            </div>

            {# Product backlog/spring-planning #}
            <div class="form-group">
                <label for="ProductSprintSelect" class="form-label mt-4">Product-Backlog/Sprint-Planning</label>
                <select class="form-select" id="ProductSprintSelect" onchange="displaySecondSelect()"
                    aria-describedby="ProductSprintHelp" name="product_sprint_select">
                    <option value="productBacklog" {% if ticket.ticket_status=='Inbox' or
                        ticket.ticket_status=='Analyze' or ticket.ticket_status=='Ready for Sprint' or
                        ticket.ticket_status=='Next Sprint' %} selected {% endif %}>Product-Backlog</option>
                    <option value="sprintPlanning" {% if ticket.ticket_status=='To-Do' or
                        ticket.ticket_status=='In Progress' or ticket.ticket_status=='Testing' or
                        ticket.ticket_status=='Finished' or ticket.ticket_status=='Obsolete' %} selected {% endif %}>
                        Sprint-Planning</option>
                </select>
                <small id="ProductSprintHelp" class="form-text text-muted">Is this ticket in the Product-Backlog or in
                    the Sprint-Planning?</small>
            </div>

            {# Backlog options #}
            <div class="form-group" id="productBacklogSelect" {% if ticket.ticket_status=='To-Do' or
                ticket.ticket_status=='In Progress' or ticket.ticket_status=='Testing' or
                ticket.ticket_status=='Finished' or ticket.ticket_status=='Obsolete' %} style="display:none;"
                {% endif%}>
                <label for="backlogSelect" class="form-label mt-4">Backlog Status</label>
                <select class="form-select" id="backlogSelect" aria-describedby="BacklogHelp" name="backlog_select">
                    <option value="Inbox" {% if ticket.ticket_status=='Inbox' %} selected {% endif %}>Inbox</option>
                    <option value="Analyze" {% if ticket.ticket_status=='Analyze' %} selected {% endif %}>Analyze
                    </option>
                    <option value="Ready for Sprint" {% if ticket.ticket_status=='Ready for Sprint' %} selected {% endif
                        %}>Ready for Sprint</option>
                    <option value="Next Sprint" {% if ticket.ticket_status=='Next Sprint' %} selected {% endif %}>Next
                        Sprint</option>
                </select>
                <small id="BacklogHelp" class="form-text text-muted">Which phase is this ticket in?</small>
            </div>

            {# Sprint number #}
            <div class="form-group" id="sprintNumberSelect" {% if ticket.ticket_status=='Inbox' or
                ticket.ticket_status=='Analyze' or ticket.ticket_status=='Ready for Sprint' or
                ticket.ticket_status=='Next Sprint' %} style="display:none;" {% endif %}>
                <label for="sprintNumberSelectField" class="form-label mt-4">Sprint Number</label>
                <select class="form-select" id="sprintNumberSelectField" name="sprint_number"
                    aria-describedby="SprintHelp">
                    {% for sprint_number in range(1, 7) %}
                    <option value="{{ sprint_number }}">Sprint {{ sprint_number }}</option>
                    {% endfor %}
                </select>
                <small id="SprintHelp" class="form-text text-muted">Which Sprint is this ticket in?</small>
            </div>

            {# Sprint options #}
            <div class="form-group" id="sprintPlanningSelect" {% if ticket.ticket_status=='Inbox' or
                ticket.ticket_status=='Analyze' or ticket.ticket_status=='Ready for Sprint' or
                ticket.ticket_status=='Next Sprint' %} style="display:none;" {% endif %}>
                <label for="sprintSelectField" class="form-label mt-4">Sprint Status</label>
                <select class="form-select" id="sprintSelectField" aria-describedby="SprintHelp" name="sprint_select">
                    <option value="To-Do" {% if ticket.ticket_status=='To-Do' %} selected {% endif %}>To-Do</option>
                    <option value="In Progress" {% if ticket.ticket_status=='In Progress' %} selected {% endif %}>In
                        Progress</option>
                    <option value="Testing" {% if ticket.ticket_status=='Testing' %} selected {% endif %}>Testing
                    </option>
                    <option value="Finished/Obsolete" {% if ticket.ticket_status=='Finished' or
                        ticket.ticket_status=='Obsolete' %} selected {% endif %}>Finished/Obsolete</option>
                </select>
                <small id="SprintHelp" class="form-text text-muted">Which phase is this ticket in?</small>
            </div>

            {# Finished/Obsolete options #}
            <div class="form-group mt-1" id="finishedObsoleteRadio">
                <div class="btn-group" id="finishedObsoleteRadioField" role="group"
                    aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" value="Finished" {% if
                        ticket.ticket_status=='Finished' %}checked{% endif %} autocomplete="off">
                    <label class="btn btn-outline-success" for="btnradio1">Finished</label>
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" value="Obsolete" {% if
                        ticket.ticket_status=='Obsolete' %}checked{% endif %} autocomplete="off">
                    <label class="btn btn-outline-warning" for="btnradio2">Obsolete</label>
                </div>
                <small id="finishedObsoleteHelp" class="form-text text-muted row ms-0">Is this ticket finished or
                    obsolete?</small>
            </div>


            {# Description #}
            <div class="form-group">
                <label for="description" class="form-label mt-4">Description</label>
                {{ form.description(class="form-control", id="description", rows="5", placeholder="Enter description here") }}
                <small id="DescriptionHelp" class="form-text text-muted">What is this ticket about?</small>
            </div>

            {# Workload #}
            <div class="form-group">
                <label for="workload" class="form-label mt-4">Workload</label>
                {{ form.workload(class="form-control", id="workload", placeholder="Enter workload here") }}
                <small id="workloadHelp" class="form-text text-muted">How much workload does this ticket
                    require? (in hours)</small>
            </div>

            {# Notes #}
            <div class="form-group">
                <label for="notes" class="form-label mt-4">Notes</label>
                {{ form.notes(class="form-control", id="notes", placeholder="Enter notes here") }}
                <small id="notesHelp" class="form-text text-muted">Any comments or notes regarding this ticket?</small>
            </div>

            {# Person working on ticket #}
            <div class="form-group" id="OwnerSelect" style="display:block;">
                <label for="OwnerSelect" class="form-label mt-4">Person working on this ticket</label>
                {{ form.owner_select(class="form-select") }}
                <small id="ownerHelp" class="form-text text-muted">Who is working on this ticket?</small>
            </div>

            <div class="form-group row" style="margin-top: 25px; margin-left: 0px">
                <button type="button" class="btn btn-primary col-sm-1"
                    onclick="deleteTicket({{ ticket.ticket_id }})">Delete</button>
                <a href="{{ url_for('product_backlog') }}" class="btn btn-secondary col-sm-1"
                    style="margin-left: 25px; margin-right: 25px">Cancel</a>
                <button type="submit" class="btn btn-success col-sm-1">Submit</button>
            </div>
        </fieldset>
    </form>
</div>

{% endblock %}
{% block SCRIPTS %}
<!-- Script to display the second select field based on the first select field -->
<script>
    // adds an event listener to the window to call the function when the page is loaded
    window.onload = function () {
        // calls the function managing the optional select fields as soon as the page is loaded
        displaySecondSelect();
        // adds an event listener to the PB/SV select field to call the function when the value is changed
        document.getElementById('ProductSprintSelect').addEventListener('change', displaySecondSelect);
        // adds an event listener to the sprint select field to call the function when the value is changed
        document.getElementById('sprintSelectField').addEventListener('change', displaySecondSelect);
    };

    function displaySecondSelect() {
        // these two lines get the value of the first select field and the sprint status select field
        var selectValue = document.getElementById('ProductSprintSelect').value;
        var sprintStatus = document.getElementById('sprintSelectField').value;

        // these lines save the divs of the optional select fields in variables so they can be manipulated later
        var backlogSelect = document.getElementById('productBacklogSelect');
        var sprintColumnSelect = document.getElementById('sprintPlanningSelect');
        var sprintNumberSelect = document.getElementById('sprintNumberSelect');
        var finishedObsoleteSelect = document.getElementById('finishedObsoleteRadio');

        // these lines define whether the optional select fields are displayed based on the value of the first select field
        if (selectValue === 'productBacklog') {
            backlogSelect.style.display = 'block';
            sprintColumnSelect.style.display = 'none';
            sprintNumberSelect.style.display = 'none';
            finishedObsoleteSelect.style.display = 'none'; // Hide finished/obsolete buttons
        } else if (selectValue === 'sprintPlanning') {
            sprintColumnSelect.style.display = 'block';
            backlogSelect.style.display = 'none';
            sprintNumberSelect.style.display = 'block';
            if (sprintStatus === 'Finished/Obsolete') {
                finishedObsoleteSelect.style.display = 'block';
            } else {
                finishedObsoleteSelect.style.display = 'none';
            }
        } else {
            backlogSelect.style.display = 'none';
            sprintColumnSelect.style.display = 'none';
            sprintNumberSelect.style.display = 'none';
            finishedObsoleteSelect.style.display = 'none'; // Hide finished/obsolete buttons
        }
    }
    //I Used this guide to help me build this function https://dev.to/silvenleaf/fetch-api-easiest-explanation-part-2-4-post-by-silvenleaf-1kmh
    function deleteTicket(ticketId) {
        if (confirm("Are you sure you want to delete this ticket?")) {

            fetch(`/Ticket/Delete/${ticketId}`, {
                method: 'POST'
            })
                .then(response => {
                    if (response.ok) {
                        window.location.href = '/Product_Backlog';
                    } else {
                        console.error('Failed to delete ticket');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
</script>
{% endblock %}